<% provide(:title, "About Us") %>
<h1>About</h1>
<h2>About happs</h2>
<p class="strong">
	Information about the vision, mission, and team behind happs. <a href="#positivepsychology">Looking for more info on positive psychology?</a>
</p>

<h3>Vision</h3>
<p>
	A world where happiness is the highest life goal.
</p>

<h3>Mission</h3>
<p>
	Make our users and those around them happier by providing them free, easy-to-use tools proven to increase happiness.
</p>

<h3>Team</h3>
<p>
	We're proud to be small. Small means flexible and agile. As the research behind positive psychology changes, we can and will change.
</p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Gerry Pass, Founder</h3>
  </div>
  <div class="panel-body">
  	<div class="row">
  		<div class="col-sm-2">
		  	<img src="https://avatars0.githubusercontent.com/u/4154682?s=460" height="100">
		  </div>
		  <div class="col-sm-10">
		    I used to work at a company that had a negative culture fueled by blame and stress. I knew I wanted that to change and by chance, I heard about positive psychology through a <a href="http://www.ted.com/">TED Talk</a>. I was instantly hooked and bought several books on the subject. After starting several initiatives to change the culture, I learned that culture must be changed from the top down and the company had other priorities. That's when I started messing around with web development and now have my time taken up by my three passions (in ascending order!): web development, positive psychology, and my beautiful wife, Kristin.
		  </div>
		</div>
  </div>
</div>

<h3>License</h3>
<p>
	At this time, happs is completely open-source, excluding our logo. We like our logo, alright!? If you want to contribute, check out 
	<a href="https://github.com/rgpass/happs">our GitHub page</a>. 
	If you're a designer or business developer, please give Gerry a call at (404) 953-9976 or 
	<a href="mailto:gerry.pass@happs.io">send him an e-mail</a> 
	(gerry.pass@happs.io)
</p>

<h3>Terms of Use</h3>
<p>
	We believe in a human-readable Terms of Use. In short...
</p>
<p>happs is:</p>
<ul>
	<li>not a legal entity at this time</li>
	<li>not a substitute for mental health therapy and medication</li>
</ul>
<p>happs will:</p>
<ul>
	<li>protect your personal information</li>
	<li>combine your data with others to contribute to positive psychology research</li>
	<li>combine your data with others to help marketing purposes</li>
	<li>have unforeseeable growing pains that may cause issues but will never compromise the previous points</li>
</ul>

<hr>

<a name="positivepsychology"></a>
<h2>About Positive Psychology</h2>
<h3>Suggested Links</h3>
<ul>
	<li><a href="http://www.ted.com/talks/martin_seligman_on_the_state_of_psychology">(video - free) Martin Seligman - The New Era of Positive Psychology</a></li>
	<li><a href="http://www.thehappymovie.com/">(documentary - free on Netflix) Happy</a></li>
	<li><a href="http://www.amazon.com/The-How-Happiness-Approach-Getting/dp/0143114956">(book) Sonja Lyubomirsky - The How of Happiness</a></li>
</ul>
