<% provide(:title, "About Us") %>
<h1 class="text-center">About</h1>
<br />

<div class="row">
	<div class="col-md-8">
		<div class="panel-group tips" id="accordion">
		  <div class="panel panel-info">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		          Sooo... what's Happs?
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in">
		      <div class="panel-body">
				  	<p class="strong">
					    Happs combines positive psychology with technology. Happy + apps = Happs, <a href="https://www.youtube.com/watch?v=CZI152QbNwI">get it</a>!?
					  </p>
						<p>
							Remember the <%= link_to "knee analogy", research_path %>? Consider Happs to be your happiness personal trainer. Our app is based off <a href="http://www.amazon.com/The-How-Happiness-Approach-Getting/dp/0143114956">The How of Happiness</a> by positive psychology leader <a href="http://psych.ucr.edu/faculty/lyubomirsky/">Dr. Sonja Lybomirsky</a>. There are several resources on positive psychology, however we found this book to be the most pragmatic.
						</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-info">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		          Why make Happs?
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse">
		      <div class="panel-body">
					  <p class="strong">
							There are several reasons and the most important one: we're passionate about making people happier. We are <a href="https://gettingreal.37signals.com/ch02_Whats_Your_Problem.php">scratching our own itch</a>. We are the both developers and end users.
						</p>
						<p>
							Our competitors, such as
							(<a href="http://www.happify.com/">Happify</a>, <a href="https://www.happier.com/home">Happier</a>, and <a href="http://www.thesmileepidemic.com/smiles/">Smile Epidemic</a>)
							have one or more of the following:
							<ul>
								<li>aren't backed with research</li>
								<li>require you to pay to use</li>
								<li>are cluttered and overcomplicated</li>
							</ul>
						</p>
						<p>
							Although our competitors are also our allies when it comes to our mission, we believe that a free, clean, science-backed app is the only way to maximize the benefits that people get when actively working on becoming happier.
						</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-info">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		          Tell me more about Happs.
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse">
		      <div class="panel-body">
				  	<p class="strong">
					    Our vision: A world where happiness is the highest life goal.
					  </p>
						<p class="strong">
							Our mission: Make our users and those around them happier by providing them free, easy-to-use tools proven to increase happiness.
						</p>
						<p>
							Once we have made free, easy tools and have an awesome happiness-increasing app, we plan to provide services for companies and organizations who would like more insight into their company. If this interests you, contact Gerry either via <a href="mailto:gerry.pass@happs.io">email</a> (gerry.pass@happs.io) or via phone -- (404) 953-9976.
						</p>
						<p>
							Here are some awesome quotes that have inspired Happs:
							<blockquote>
							  <p>
									In design, where meaning is often controversially subjective or 
									painfully inscrutable, few things are more apparent and lucid than 
									the presence of passion. This is true whether the design of a product 
									delights you or leaves you cold; in either case it’s diﬃcult not to 
									detect the emotional investment of the hands that built it.
							  </p>
							  <small>Khoi Vinh, Subtraction.com and co-founder of Behavior LLC</small>
							</blockquote>
							<blockquote>
							  <p>Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.</p>
							  <small><a href="http://en.wikipedia.org/wiki/Antoine_de_Saint-Exup%C3%A9ry">Antoine de Saint-Exupéry</a></small>
							</blockquote>
						</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-info">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
		          Who's on the team?
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFour" class="panel-collapse collapse">
		      <div class="panel-body">
				  	<p class="strong">
					    We're proud to be small. Small means flexible and agile. As the research behind positive psychology changes, we can and will change.
					  </p>
					  <div class="row">
					  	<div class="col-md-2 strong">
					  		Gerry Pass <br />
					  		Founder<br />
					  		<img src="http://s3.amazonaws.com/gerrysfirstrailsproject/pins/images/000/000/050/original/profile_pic.png?1405691087" height="80">
					  	</div>
					  	<div class="col-md-10">
								I used to work at a company that had a negative culture fueled by blame and stress. I knew I wanted that to change and by chance, I heard about positive psychology through a <a href="http://www.ted.com/">TED Talk</a>. I was instantly hooked and bought several books on the subject. After starting several initiatives to change the culture, I learned that culture must be changed from the top down and the company had other priorities. That's when I started messing around with web development and now have my time taken up by my three passions (in ascending order!): web development, positive psychology, and my beautiful wife, Kristin.
					  	</div>
					  </div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-info">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
		          How can I contribute?
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFive" class="panel-collapse collapse">
		      <div class="panel-body">
				  	<p class="strong">
					    Whatever you want to do or whatever plays to your strengths -- we'd love any contributions!
					  </p>
						<p>
							If you want to contribute, check out <a href="https://github.com/rgpass/happs">our GitHub page</a>. If you're a designer or business developer, please give Gerry a call at (404) 953-9976 or <a href="mailto:gerry.pass@happs.io">send him an e-mail</a> (gerry.pass@happs.io)
						</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-info">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
		          License
		        </a>
		      </h4>
		    </div>
		    <div id="collapseSix" class="panel-collapse collapse">
		      <div class="panel-body">
				  	<p class="strong">
					    At this time, Happs is completely open-source, excluding our logo. We like our logo, alright!?
					  </p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-info">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
		          Terms of Use
		        </a>
		      </h4>
		    </div>
		    <div id="collapseSeven" class="panel-collapse collapse">
		      <div class="panel-body">
				  	<p class="strong">
					    We believe in a human-readable Terms of Use. In short...
					  </p>
						<p>
							Happs is:
							<ul>
								<li>not a legal entity at this time</li>
								<li>not a substitute for mental health therapy and medication</li>
							</ul>			
						</p>
						<p>
							Happs will:
							<ul>
								<li>protect your personal information</li>
								<li>combine your data with others to contribute to positive psychology research</li>
								<li>combine your data with others to help marketing purposes</li>
								<li>have unforeseeable growing pains that may cause issues but will never compromise the previous points</li>
							</ul>
						</p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var trip = new Trip([
	{
		sel : $('.panel'),
		content : "Click on the text to expand/collapse the information boxes.",
		expose : true,
		position : 'screen-center'
	}
	], {
		showNavigation : true,
		showCloseBox : true,
		delay : -1,
		animation: 'fadeInUp'
	});
</script>
