<% provide(:title, "About Us") %>
<h1>About</h1>
<p>Information about the mission, vision, goals of Happs</p>
<ul>
	<li>Mission</li>
	<li>Vision</li>
	<li>Goals</li>
	<li>Team</li>
	<li>License</li>
</ul>
