<% provide(:title, "Help") %>
<h1>Help</h1>
<div class="alert alert-info">
  The FAQs below may have your answer. If not, or if you don't feel like reading through them, give me a call anytime at (404) 953-9976 or 
	<a href="mailto:gerry.pass@happs.io">email me</a> (gerry.pass@happs.io).<br>
	<strong>--Gerry Pass, Founder</strong>
</div>

<h2>FAQs</h2>
<h3>Positive Psychology</h3>
<div class="panel panel-default">
  <div class="panel-heading">Where can I learn more?</div>
  <div class="panel-body">
    Check out the resources at the bottom of the <%= link_to "About page", about_path %>.
  </div>
</div>

<h3>happs</h3>
<div class="panel panel-default">
  <div class="panel-heading">How does happs make money?</div>
  <div class="panel-body">
    We don't. Our goal is to make an awesome product first. We never want to take investor money either. Our competitors do this and it makes them alter the product to increase sales at the cost of happiness. In the future, we will take money from sponsors and from companies who want more insight into how happy their employees are (note: we will never give away individual data at the risk of violating our <%= link_to "Terms of Service", about_path %>) and also where they stand versus other companies.
  </div>
</div>

<h3>Get Involved</h3>
<div class="panel panel-default">
  <div class="panel-heading">I'm a developer, how I can get involved?</div>
  <div class="panel-body">
    Check out <a href="https://github.com/rgpass/happs">our GitHub page</a>. All the info should be there.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">I'm an awesome at X, how I can get involved?</div>
  <div class="panel-body">
    Call Gerry anytime at (404) 953-9976 or 
		<a href="mailto:gerry.pass@happs.io">email him</a> (gerry.pass@happs.io).
  </div>
</div>

<hr>

<h2>Contact</h2>
<p class="strong">
	We'd love to hear from you. Tell us what we're doing right and what you don't like.
</p>
<ul>
	<li>Email: <a href="mailto:gerry.pass@happs.io">gerry.pass@happs.io</a></li>
	<li>Phone: (404) 953-9976</li>
</ul>
