<% provide(:title, "Help") %>
<h1>Help</h1>
<p>Some advice on how to get around the app</p>
<ul>
	<li>FAQs about pos. psych</li>
	<li>FAQs about Happs</li>
	<li>How to get involved</li>
	<li>Contact info</li>
</ul>
