<div class="jumbotron">
  <h1 class="inline">happs</h1>
  <h2 class="inline blue">making happiness matter</h2>
  <p>
  	Scientifically proven activities to become happier. Based on 
  	<a href="http://www.amazon.com/The-How-Happiness-Approach-Getting/dp/0143114956">The How of Happiness</a>
  	by positive psychology leader
  	<a href="http://psych.ucr.edu/faculty/lyubomirsky/">Dr. Sonja Lybomirsky</a>
  </p>
  <div class="row">
		<div class="col-md-7">
			<blockquote>
				<p>Happiness is not something ready made. It comes from your own actions.</p>
				<small><a href="http://en.wikipedia.org/wiki/Dalai_Lama">Dalai Lama</a></small>
			</blockquote>
		</div>
  	<div class="col-md-5">
		  <%= link_to "Take the Tour", examples_profile_start_path, class: "btn btn-info btn-lg btn-jumbotron btn-left" %>
			<%= link_to "Get Started", signup_path, class: "btn btn-primary btn-lg btn-jumbotron" %>
		</div>
	</div>
</div>

<p class="text-center">
	Have any questions? Feel free to give me a call anytime at (404) 953-9976 or 
	<a href="mailto:gerry.pass@happs.io">email me</a> (gerry.pass@happs.io). --Gerry Pass, Founder
</p>

<br />


