<% if signed_in? %>
	<div class="alert alert-info">
		Thanks for signing up! We’re currently building out the product and will send you an email once we’ve made significant progress.
	</div>
<% end %>

<div class="jumbotron" style="padding-bottom:25px">
	<div class="row">
		<div class="col-md-4">
		  <%= link_to image_tag("h_logo_happs.png", height: "100"), root_path %>
		  <h2 class="blue" style="margin-top:0px">making happiness matter</h2>
		</div>
		<div class="col-md-7">
		  <p style="margin-top:30px">
		  	Scientifically proven activities to become happier. Based on 
		  	<a href="http://www.amazon.com/The-How-Happiness-Approach-Getting/dp/0143114956">The How of Happiness</a>
		  	by positive psychology leader
		  	<a href="http://psych.ucr.edu/faculty/lyubomirsky/">Dr. Sonja Lybomirsky</a>
		  </p>
		</div>
	</div>
	<br/>
  <div class="row">
		<div class="col-md-7">
			<blockquote>
				<p>Happiness is not something ready made. It comes from your own actions.</p>
				<small><a href="http://en.wikipedia.org/wiki/Dalai_Lama">Dalai Lama</a></small>
			</blockquote>
		</div>
  	<div class="col-md-5">
  		<span class="buttons">
			  <%= link_to "Take the Tour", examples_profile_complete_path, class: "btn btn-info btn-lg btn-jumbotron btn-left" %>
				<%= link_to "Get Started", signup_path, class: "btn btn-primary btn-lg btn-jumbotron" %>
			</span>
		</div>
	</div>
</div>

<p class="text-center">
	Have any questions? Feel free to give me a call anytime at (404) 953-9976 or 
	<a href="mailto:gerry.pass@happs.io">email me</a> (gerry.pass@happs.io). --Gerry Pass, Founder
</p>

<script type="text/javascript">
	var trip = new Trip([
	{
		content : "Happs' vision is a where happiness is the highest life goal.",
		position : 'screen-center'
	},
	{
		content : "We do this by combining positive psychology with technology",
		position : 'screen-center'
	},
	{
		content : "through free, easy-to-use tools proven to increase happiness.",
		position : 'screen-center'
	},
	{
		sel : $('.buttons'),
		content : "To learn more, take the tour<br/>or jump right in and get started.",
		expose : true,
		position : 'n'
	},
	{
		sel : $('.get-started'),
		content : "or jump right in and get started.",
		expose : true,
		position : 'n'
	}
	], {
		showNavigation : true,
		showCloseBox : true,
		delay : -1,
		animation: 'fadeInUp'
	});
</script>
