<% provide(:title, 'Sign Up') %>
<h1>Sign Up</h1>
<p class="strong">
	Already have an account? <%= link_to "Sign in", signin_path %>.
</p>

<%= form_for(@user) do |f| %>
	<%= render 'fields', f: f %>
	<span class="create">
		<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
	</span>
<% end %>

<script type="text/javascript">
	function startTrip() {
		var trip = new Trip([
		{
			sel : $('#user_first_name, label[for="user_first_name"]'),
			content : "Required. Max length of 20 characters.",
			expose : true,
			position : 'e'
		},
		{
			sel : $('#user_last_name, label[for="user_last_name"]'),
			content : "Required. Max length of 30 characters.",
			expose : true,
			position : 'e'
		},
		{
			sel : $('#user_email, label[for="user_email"]'),
			content : "Required. Valid email address.",
			expose : true,
			position : 'e'
		},
		{
			sel : $('#user_password, label[for="user_password"]'),
			content : "Required. Min length of 6 characters.",
			expose : true,
			position : 'e'
		},
		{
			sel : $('#user_password_confirmation, label[for="user_password_confirmation"]'),
			content : "Required. Must be the same.",
			expose : true,
			position : 'e'
		},
		{
			sel : $('.create'),
			content : "When finished, click to here create your account.",
			expose : true,
			position : 'e'
		}
		], {
			showNavigation : true,
			showCloseBox : true,
			delay : -1,
			animation: 'fadeInUp'
		});

	trip.start();
	}
</script>
