= f.select "#{activity}_#{reason}".to_sym, options_for_select([["Choose one:", 0], ["1 - not at all", 1], ["2", 2], ["3", 3], ["4 - somewhat", 4], ["5", 5], ["6", 6], ["7 - very much", 7]], 0), {}, class: 'form-control input-sm'
