<% provide(:title, "Example | Activity") %>

<%= link_to 'Previous Page', examples_ohq_path, class: "btn btn-primary btn-xs" %>
<%= link_to 'Continue with tour', examples_profile_start_path, class: "btn btn-primary btn-xs" %>

<h1>Gratitude</h1>

<div class="row">
	<div class="col-sm-5 form-font form-padding form">
		<label class="control-label" for="user_first_name">Subject</label>
		<input autofocus="autofocus" class="form-control input-sm" id="user_first_name" name="user[first_name]" type="text" />


		<label class="control-label" for="user_last_name">Why you're grateful</label>
		<textarea class="form-control" rows="3" id="textArea"></textarea>

		<br/>
		<div class="control-group file optional pin_image"><label class="file optional control-label" for="pin_image">Upload an image</label><div class="controls"><input class="file optional" id="pin_image" name="pin[image]" type="file" /></div></div>

		<br/>
		<span class="submit">
			<%= link_to "All Done", '#', class: "btn btn-primary" %>
		</span>
		<br class="visible-xs" /><br class="visible-xs" />
	</div>

	<div class="col-sm-5 col-sm-offset-1">
		<blockquote>
		  <p>We can only be said to be alive in those moments when our hearts are conscious of our treasures.</p>
		  <small><a href="http://en.wikipedia.org/wiki/Thornton_Wilder">Thorton Wilder</a>, three time Pulitzer Prize winner</small>
		</blockquote>

		<p class="strong">Tips:</p>
		<div class="panel-group tips" id="accordion">
		  <div class="panel panel-info">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
		          Keep it fresh
		        </a>
		      </h4>
		    </div>
		    <div id="collapse1" class="panel-collapse collapse in">
		      <div class="panel-body">
		        Always try to keep it fresh! Think of the random: laughs you've had, hard times you've overcome, what you had for breakfast. The more random the better.
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-info">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
		          Write a gratitude letter
		        </a>
		      </h4>
		    </div>
		    <div id="collapse2" class="panel-collapse collapse">
		      <div class="panel-body">
		        Think of someone who's had a big impact on your life: your mom, favorite uncle, old friend, or a coach, teacher or supervisor. Draft up a letter thanking them for what they did and how it has affected you.
		        <br/><br/>
	        	For a significant increase in happiness, print the letter out, meet up with that person face-to-face, and read it out aloud.
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-info">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
		          The mundane to the magnificent
		        </a>
		      </h4>
		    </div>
		    <div id="collapse3" class="panel-collapse collapse">
		      <div class="panel-body">
		        Mundane: Your dryer works. Magnificent: That life exists at all. There's a lot of space in between there and thus tons of stuff to be grateful for.
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-info">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
		          List out 3-5 random things
		        </a>
		      </h4>
		    </div>
		    <div id="collapse4" class="panel-collapse collapse">
		      <div class="panel-body">
		        This will help you notice the random, cool things in your life!
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-info">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
		          Upload a picture
		        </a>
		      </h4>
		    </div>
		    <div id="collapse5" class="panel-collapse collapse">
		      <div class="panel-body">
		        Remember the cliche "A picture is worth a 1,000 words"? Sometimes it's worth more than that. Upload a picture of something you're grateful for.
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>

<script type="text/javascript">
	startTrip();

	function startTrip() {
		var trip = new Trip([
		{
			content : "Activities are the meat and bones<br/>behind making yourself happier.",
			position : 'screen-center'
		},
		{
			sel : $('.form'),
			content : "Each activity will have a task for you to do.",
			expose : true,
			position : 'n'
		},
		{
			sel : $('.form'),
			content : "In this example, it’s writing about<br/>something you’re grateful for.",
			expose : true,
			position : 'n'
		},
		{
			sel : $('.form'),
			content : "Consistency is more important than content,<br/>so write only as much as you want.",
			expose : true,
			position : 'n'
		},
		{
			sel : $('.form'),
			content : "If you can get your point across in one word, awesome!",
			expose : true,
			position : 'n'
		},
		{
			sel : $('.form'),
			content : 'You may be thinking "What the heck do I write?"',
			expose : true,
			position : 'n'
		},
		{
			sel : $('blockquote'),
			content : "That's why we added quotes for those<br/>that are motivated by wise, old people",
			expose : true,
			position : 'n'
		},
		{
			sel : $('.tips'),
			content : "and tips for those who want direct advice.",
			expose : true,
			position : 'n'
		},
		{
			content : "Doing these sorts of activities as much as possible<br/>while keeping it fresh and exciting is the",
			position : 'screen-center'
		},
		{
			content : "best way to boost your happiness. Remember not<br/>to do too many or you'll burn yourself out!",
			position : 'screen-center',
			callback : function() { window.location = "/examples/profile_start" }
		}
		], {
			showNavigation : true,
			showCloseBox : true,
			delay : -1,
			animation: 'fadeInUp'
		});

	  trip.start();
	}
</script>
