<% provide(:title, "Example | OHQ") %>

<span class="next-tour">
	<%= link_to 'Continue with tour', examples_activity_path, class: "btn btn-primary btn-xs" %>
</span>

<div class="row">
	<div class="col-md-12">
		<h1 class="inline-block intro">Oxford Happiness Questionnaire</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-7 overview">
		<div class="row">
			<div class="col-md-3">
				<span class="strong">Purpose:</span>
			</div>
			<div class="col-md-9">
				<p class="text-justify">
					The OHQ is used to determine your current happiness level. "[Your happiness level] can shift up or down depending on what you <em>do</em> and how you <em>think</em>."
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<span class="strong">Time Required:</span>
			</div>
			<div class="col-md-9">
				<p>
					5 minutes
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<span class="strong">Suggested Frequency:</span>
			</div>
			<div class="col-md-9">
				<p>
					Once every 2-3 weeks
				</p>
			</div>
		</div>
	</div>
</div>
<br/>

<div class="row">
	<div class="col-md-8">
		<div class="panel panel-primary question">
		  <div class="panel-heading">
		    <h3 class="panel-title">1. I laugh a lot.</h3>
		  </div>
		  <div class="panel-body">
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="1" />1 - strongly<br/>disagree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="1" />2 - moderately<br/>disagree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="3" />3 - slightly<br/>disagree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="4" />4 - slightly<br/>agree
					</label>
					<label class="btn btn-default active">
						<input class="display-none" type="radio" value="5" />5 - moderately<br/>agree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="6" />6 - strongly<br/>agree
					</label>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">2. I am intensely interested in other people.</h3>
		  </div>
		  <div class="panel-body">
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="1" />1 - strongly<br/>disagree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="1" />2 - moderately<br/>disagree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="3" />3 - slightly<br/>disagree
					</label>
					<label class="btn btn-default active">
						<input class="display-none" type="radio" value="4" />4 - slightly<br/>agree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="5" />5 - moderately<br/>agree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="6" />6 - strongly<br/>agree
					</label>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">3. I feel that life is very rewarding.</h3>
		  </div>
		  <div class="panel-body">
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="1" />1 - strongly<br/>disagree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="1" />2 - moderately<br/>disagree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="3" />3 - slightly<br/>disagree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="4" />4 - slightly<br/>agree
					</label>
					<label class="btn btn-default active">
						<input class="display-none" type="radio" value="5" />5 - moderately<br/>agree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="6" />6 - strongly<br/>agree
					</label>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">4. I have very warm feelings towards almost everyone.</h3>
		  </div>
		  <div class="panel-body">
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="1" />1 - strongly<br/>disagree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="1" />2 - moderately<br/>disagree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="3" />3 - slightly<br/>disagree
					</label>
					<label class="btn btn-default active">
						<input class="display-none" type="radio" value="4" />4 - slightly<br/>agree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="5" />5 - moderately<br/>agree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="6" />6 - strongly<br/>agree
					</label>
				</div>
			</div>
		</div>
		. . .
		<br /><br />
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">29. I feel able to take anything on.</h3>
		  </div>
		  <div class="panel-body">
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="1" />1 - strongly<br/>disagree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="1" />2 - moderately<br/>disagree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="3" />3 - slightly<br/>disagree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="4" />4 - slightly<br/>agree
					</label>
					<label class="btn btn-default">
						<input class="display-none" type="radio" value="5" />5 - moderately<br/>agree
					</label>
					<label class="btn btn-default active">
						<input class="display-none" type="radio" value="6" />6 - strongly<br/>agree
					</label>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-1 next-step">
		<%= link_to "All Done", "#", class: "btn btn-primary" %>
	</div>
</div>


<script type="text/javascript">
	var trip = new Trip([
	{
		content : 'Happs utilizes two questionnaires:<br/>the Oxford Happiness Questionnaire to quantify your happiness and the<br/>Person-Activity Fit Diagnostic to determine your most effective activities.',
		position : 'screen-center'
	},
	{
		sel : $('.overview'),
		content : 'Each of these questionnaires will explain their purpose,<br/>estimated time to complete, and suggested frequency.',
		expose : true,
		position : 'n'
	},
	{
		sel : $('.question'),
		content : 'All of the questions will be on a 1-6 or 1-7 scale.',
		expose : true,
		position : 'n'
	},
	{
		sel : $('.question'),
		content : 'Don’t over think the questions. Pick the answer that first comes to mind.',
		expose : true,
		position : 'n',
		callback : function() { window.location = "/examples/activity" }
	}
	// {
	// 	sel : $('.next-tour'),
	// 	content : 'Click the link when you’re ready to proceed with the tour.',
	// 	expose : true,
	// 	position : 'e'
	// }
	], {
		showNavigation : true,
		showCloseBox : true,
		delay : -1,
		animation: 'fadeInUp'
	});

  trip.start();
</script>
