<% provide(:title, "Example | Blank Profile") %>

<%= link_to 'Previous Page', examples_activity_path, class: "btn btn-primary btn-xs" %><br/><br/>

<div class="alert alert-success no-margin">
	Welcome to Happs! If you haven't already, we suggest <%= link_to "taking the tour", examples_profile_complete_path, class: "alert-link strong" %>.
</div>

<div class="row">
	<div class="col-xs-12">
		<h1 class="inline-block">Example User</h1>
		<p class="inline-block next-step"><em>Suggested Next Step:</em> Figure out your <%= link_to "current happiness level", examples_ohq_path %>.</p>
	</div>
</div>

<div class="dashboard">
	<div class="row">
		<div class="col-md-5 col-lg-6">
			<div class="panel panel-default min-height my-happiness">
			  <div class="panel-heading">
			  	<h3 class="panel-title strong inline-block">My Happiness</h3>
			  </div>
			  <div class="panel-body">
		  		<div class="text-center">
		  			<span class="free-options"><button type="button" class="btn btn-primary">Measure My Happiness</button></span>
		  		</div>
					<br />
			    Using the <a href="#">Oxford Happiness Questionnaire</a>, Happs is able to track your happiness over time. Quantifying happiness is the first step in the improvement process.
					<blockquote>
					  <p>
					  	What gets measured, gets managed.
					  </p>
					  <small><a href="http://en.wikipedia.org/wiki/Peter_Drucker">Peter Drucker</a>, management legend</small>
					</blockquote>
			  </div>
			</div>
		</div>
		<div class="col-md-7 col-lg-6">
			<div class="panel panel-default min-height my-effective-activities">
			  <div class="panel-heading">
			  	<h3 class="panel-title strong inline-block">My Effective Activities</h3>
			  </div>
			  <div class="panel-body">
		  		<div class="text-center">
		  			<span class="free-options"><button type="button" class="btn btn-primary">Determine My Effective Activities</button></span>
		  		</div>
			  	<br />
			    The truth is, everybody is different and there's no one way to be happy. That's why Happs uses the <a href="#">Person-Activity Fit Diagnostic</a> to determine which activities best fit your personality.
			    <br /><br />
					<blockquote>
					  <p>
					  	Know yourself to improve yourself.
					  </p>
					  <small><a href="http://en.wikipedia.org/wiki/Auguste_Comte">Auguste Comte</a>, founder of sociology</small>
					</blockquote>
			  </div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5 col-lg-6">
			<div class="panel panel-default min-height my-activity-history">
			  <div class="panel-heading">
			  	<h3 class="panel-title strong inline-block">My Activity History</h3>
			  </div>
			  <div class="panel-body">
			    <h4>Signed Up! Yay!</h4>
			    <p class="small">Profile -- Completed 30 seconds ago</p>
			    <br /><br /><br /><br />
			    <div class="text-center no-margin">
						<ul class="pagination pagination-sm no-margin">
						  <li class="disabled"><a href="#">«</a></li>
						  <li class="active"><a href="#">1</a></li>
						  <li class="disabled"><a href="#">»</a></li>
						</ul>
					</div>
			  </div>
			</div>
		</div>
		<div class="col-md-7 col-lg-6">
			<div class="panel panel-default min-height my-activity-breakdown">
			  <div class="panel-heading">
			  	<h3 class="panel-title strong inline-block">My Activity Breakdown</h3>
			  </div>
			  <div class="panel-body">
		  		<div class="text-center">
		  			<span class="free-options"><button type="button" class="btn btn-primary">Do a Happiness Activity</button></span>
		  		</div>
			  	<br />
			  	Once you've done at least one activity, Happs will provide you a visual breakdown of what you've done.
			  	<br /><br />
					<blockquote>
					  <p>
					  	Action may not bring happiness, but there is no happiness without action.
					  </p>
					  <small><a href="http://en.wikipedia.org/wiki/William_James">William James</a>, founder of pragmatism and functional psychology</small>
					</blockquote>
			  </div>
			</div>
		</div>
	</div>
</div>
