<% provide(:title, "Example | Populated Profile") %>

<%= link_to 'Continue with tour', examples_ohq_path, class: "btn btn-primary btn-xs" %>

<div class="row">
	<div class="col-xs-12">
		<h1 class="inline-block">Example User</h1>
		<p class="inline-block margin-left next-step"><em>Suggested Next Step:</em> <%= link_to "Express gratitude", examples_activity_path %>.</p>
	</div>
</div>

<div class="dashboard">
	<div class="row">
		<div class="col-md-5 col-lg-6">
			<div class="panel panel-default min-height my-happiness">
			  <div class="panel-heading">
			  	<h3 class="panel-title strong inline-block">My Happiness</h3>
			  </div>
			  <div class="panel-body">
			  	<div class="row">
				  	<div class="buttons btn-mmh">
							<button type="button" class="btn btn-primary center-block">Measure My Happiness</button>
						</div>
						<div id="container1" style="height: 200px; margin: 0 auto">Refresh the page if you cannot see the chart. If the problem persists, enable JavaScript.</div>
			  	</div>
			  </div>
			</div>
		</div>

		<div class="col-md-7 col-lg-6">
			<div class="panel panel-default min-height my-effective-activities">
			  <div class="panel-heading">
			  	<h3 class="panel-title strong inline-block">My Effective Activities</h3> <a href="#">update</a>
			  </div>
			  <div class="panel-body">
					<div id="container2" style="height: 300px; margin: 0 auto">Refresh the page if you cannot see the chart. If the problem persists, enable JavaScript.</div>
			  </div>
			</div>
		</div>
	</div>

	<div class="row history">
		<div class="col-md-5 col-lg-6">
			<div class="panel panel-default min-height my-activity-history">
			  <div class="panel-heading">
			  	<h3 class="panel-title strong inline-block">My Activity History</h3>
			  </div>
			  <div class="panel-body no-padding-top">
			  	<h4><a href="#">My best friend</a></h4>
			  	<p>Expressing gratitude -- Completed 5 seconds ago</p>
			  	<h4><a href="#">Watched the sunset</a></h4>
			  	<p>Savoring life's joys -- Completed 12 hours ago</p>
			  	<h4><a href="#">Helped an old lady across the street</a></h4>
			  	<p>Practicing acts of kindness -- Completed 2 days ago</p>
			    <h4><%= link_to "Made the coolest app ever called Happs", root_path %></h4>
			    <p>Doing more activities that truly engage you -- Completed 5 days ago</p>
			    <h4><a href="#">Thought about how awesome I am</a></h4>
			    <p>Cultivating optimism -- Completed 1 week ago</p>
			    <div class="text-center no-margin">
						<ul class="pagination pagination-sm no-margin">
						  <li><a href="#">«</a></li>
						  <li class="active"><a href="#">1</a></li>
						  <li><a href="#">2</a></li>
						  <li><a href="#">3</a></li>
						  <li><a href="#">4</a></li>
						  <li><a href="#">5</a></li>
						  <li><a href="#">»</a></li>
						</ul>
					</div>
			  </div>
			</div>
		</div>
		<div class="col-md-7 col-lg-6">
			<div class="panel panel-default min-height my-activity-breakdown">
			  <div class="panel-heading">
			  	<h3 class="panel-title strong inline-block">My Activity Breakdown</h3>
			  </div>
			  <div class="panel-body">
			  	<div class="buttons new-activity">
				  	<button type="button" class="btn btn-primary center-block">Do a Happiness Activity</button>
				  </div>
					<div id="container3" style="height: 300px; margin: 0 auto">Refresh the page if you cannot see the chart. If the problem persists, enable JavaScript.</div>
			  </div>
			</div>
		</div>
	</div>
</div>
