<% provide(:title, "Example | Blank Profile") %>

<div class="alert alert-success no-margin strong">
	Welcome to Happs!
</div>

<div class="row" id="intro1">
	<div class="col-md-12">
		<h1 class="inline-block">Example User</h1>
		<p class="inline-block padding-left next-step"><em>Suggested Next Step:</em> Figure out your <%= link_to "current happiness level", examples_ohq_path %>.</p>
	</div>
</div>

<div class="dashboard">
	<div class="row" id="intro2">
		<div class="col-md-5">
			<div class="panel panel-default min-height my-happiness">
			  <div class="panel-heading">
			  	<h3 class="panel-title strong inline-block">My Happiness</h3>
			  	<h3 class="panel-title inline-block float-right"><i class="fa fa-question-circle fa-lg text-info" data-toggle="tooltip" data-placement="left" title="" data-html="true" data-original-title="<strong>My Happiness</strong><br/>This section focuses on your quantified happiness measured over time. This requires the Oxford Happiness Questionnaire to be taken once every couple of weeks."></i></h3>
			  </div>
			  <div class="panel-body">
		  		<div class="text-center">
		  			<span class="free-options"><button type="button" class="btn btn-primary">Measure My Happiness</button></span>
		  		</div>
					<br />
			    Using the <a href="#">Oxford Happiness Questionnaire</a>, Happs is able to track your happiness over time. Quantifying happiness is the first step in the improvement process.
					<blockquote>
					  <p>
					  	What gets measured, gets managed.
					  </p>
					  <small><a href="http://en.wikipedia.org/wiki/Peter_Drucker">Peter Drucker</a>, management legend</small>
					</blockquote>
			  </div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="panel panel-default min-height my-effective-activities">
			  <div class="panel-heading">
			  	<h3 class="panel-title strong inline-block">My Effective Activities</h3>
			  	<h3 class="panel-title inline-block float-right"><i class="fa fa-question-circle fa-lg text-info" data-toggle="tooltip" data-placement="left" title="" data-html="true" data-original-title="<strong>My Effective Activities</strong><br/>Once you've taken the Person-Activity Fit Diagnostic, you'll see a pie chart of what activities best fit your personality and will enable you to easily build these activities as habits."></i></h3>
			  </div>
			  <div class="panel-body">
		  		<div class="text-center">
		  			<span class="free-options"><button type="button" class="btn btn-primary">Determine My Effective Activities</button></span>
		  		</div>
			  	<br />
			    The truth is, everybody is different and there's no one way to be happy. That's why Happs uses the <a href="#">Person-Activity Fit Diagnostic</a> to determine which activities best fit your personality.
			    <br /><br />
					<blockquote>
					  <p>
					  	Know yourself to improve yourself.
					  </p>
					  <small><a href="http://en.wikipedia.org/wiki/Auguste_Comte">Auguste Comte</a>, founder of sociology</small>
					</blockquote>
			  </div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5">
			<div class="panel panel-default min-height my-activity-history">
			  <div class="panel-heading">
			  	<h3 class="panel-title strong inline-block">My Activity History</h3>
			  	<h3 class="panel-title inline-block float-right"><i class="fa fa-question-circle fa-lg text-info" data-toggle="tooltip" data-placement="left" title="" data-html="true" data-original-title="<strong>My Activity History</strong><br/>As you complete activities, you'll be able to see how many you've done and be able to view their details/content."></i></h3>
			  </div>
			  <div class="panel-body">
			    <h4>Signed Up! Yay!</h4>
			    <p class="small">Profile -- Completed 30 seconds ago</p>
			    <br /><br /><br /><br />
			    <div class="text-center no-margin">
						<ul class="pagination pagination-sm no-margin">
						  <li class="disabled"><a href="#">«</a></li>
						  <li class="active"><a href="#">1</a></li>
						  <li class="disabled"><a href="#">»</a></li>
						</ul>
					</div>
			  </div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="panel panel-default min-height my-activity-breakdown">
			  <div class="panel-heading">
			  	<h3 class="panel-title strong inline-block">My Activity Breakdown</h3>
			  	<h3 class="panel-title inline-block float-right"><i class="fa fa-question-circle fa-lg text-info" data-toggle="tooltip" data-placement="left" title="" data-html="true" data-original-title="<strong>My Activity Breakdown</strong><br/>As you complete activities, you'll see a pie chart of what activities you've done. The goal is to match this pie chart with the one in My Effective Activities."></i></h3>
			  </div>
			  <div class="panel-body">
		  		<div class="text-center">
		  			<span class="free-options"><button type="button" class="btn btn-primary">Do a Happiness Activity</button></span>
		  		</div>
			  	<br />
			  	Once you've done at least one activity, Happs will provide you a visual breakdown of what you've done.
			  	<br /><br />
					<blockquote>
					  <p>
					  	Action may not bring happiness, but there is no happiness without action.
					  </p>
					  <small><a href="http://en.wikipedia.org/wiki/William_James">William James</a>, founder of pragmatism and functional psychology</small>
					</blockquote>
			  </div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var trip = new Trip([
	{
		content : 'When you first sign up, this is what your profile will look like.',
		position : 'screen-center'
	},
	{
		content : 'What you want to do is totally up to you.',
		position : 'screen-center'
	},
	{
		sel : $('.free-options'),
		content : 'You can either do your own thing by clicking on one of these buttons',
		expose : true,
		position : 'n'
	},
	{
		sel : $('.next-step'),
		content : 'or follow along with the suggested next step.',
		expose : true,
		position : 'n'
	},
	{
		content : "That’s it for the tour! If you haven't done so yet,<br/><a href='/signup'>sign up</a> by clicking the link at the top.",
		position : 'screen-center'
	},
	{
		content : 'Remember, if you have any questions, click the <i class="fa fa-question-circle fa-lg"></i>',
		position : 'screen-center'
	},
	{
		content : 'If you have any feedback, check the Help section.',
		position : 'screen-center'
	},
	{
		content : 'Stay awesome and be happy!<br/><small>—Happs</small>',
		position : 'screen-center',
		callback : function() { window.location = "/signup" }
	}
	], {
		showNavigation : true,
		showCloseBox : true,
		delay : -1,
		animation: 'fadeInUp'
	});

  trip.start();
</script>
