<% provide(:title, "Example | John Smith") %>

<div class="alert alert-success no-margin strong">
	Welcome to Happs!
</div>

<div class="row">
	<div class="col-md-6">
		<h1 class="inline-block">John Smith</h1>
		<p class="inline-block"><em>Next Step:</em> Figure out your <a href="#" class="alert-link">current happiness level</a>.</p>
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default min-height">
		  <div class="panel-heading">
		  	<h3 class="panel-title strong">My Happiness</h3>
		  </div>
		  <div class="panel-body">
				<button type="button" class="btn btn-primary center-block">Measure My Happiness</button>
				<br />
		    Using the <a href="#">Oxford Happiness Questionnaire</a>, Happs is able to track your happiness over time. Quantifying happiness is the first step in the improvement process.
				<blockquote>
				  <p>
				  	What gets measured, gets managed.
				  </p>
				  <small><a href="http://en.wikipedia.org/wiki/Peter_Drucker">Peter Drucker</a>, management legend</small>
				</blockquote>
		  </div>
		</div>
	</div>
	<div class="col-md-7">
		<div class="panel panel-default min-height">
		  <div class="panel-heading">
		  	<h3 class="panel-title strong">My Effective Activities</h3>
		  </div>
		  <div class="panel-body">
		  	<button type="button" class="btn btn-primary center-block">Determine My Effective Strategies</button>
		  	<br />
		    The truth is, everybody is different and there's no one way to be happy. That's why Happs uses the <a href="#">Person-Activity Fit Diagnostic</a> to determine which activities best fit your personality.
		    <br /><br />
				<blockquote>
				  <p>
				  	Know yourself to improve yourself.
				  </p>
				  <small><a href="http://en.wikipedia.org/wiki/Auguste_Comte">Auguste Comte</a>, founder of sociology</small>
				</blockquote>
		  </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default min-height">
		  <div class="panel-heading">
		  	<h3 class="panel-title strong">My Activity History</h3>
		  </div>
		  <div class="panel-body">
		    <h4>Signed Up! Yay!</h4>
		    <p class="small">Profile -- Completed 30 seconds ago</p>
		    <br /><br /><br /><br />
		    <div class="text-center no-margin">
					<ul class="pagination pagination-sm no-margin">
					  <li class="disabled"><a href="#">«</a></li>
					  <li class="active"><a href="#">1</a></li>
					  <li class="disabled"><a href="#">»</a></li>
					</ul>
				</div>
		  </div>
		</div>
	</div>
	<div class="col-md-7">
		<div class="panel panel-default min-height">
		  <div class="panel-heading">
		  	<h3 class="panel-title strong">My Activity Breakdown</h3>
		  </div>
		  <div class="panel-body">
		  	<button type="button" class="btn btn-primary center-block">Do a Happiness Activity</button>
		  	<br />
		  	Once you've done at least one activity, Happs will provide you a visual breakdown of what you've done.
		  	<br /><br />
				<blockquote>
				  <p>
				  	Action may not bring happiness, but there is no happiness without action.
				  </p>
				  <small><a href="http://en.wikipedia.org/wiki/William_James">William James</a>, founder of pragmatism and functional psychology</small>
				</blockquote>
		  </div>
		</div>
	</div>
</div>
