/* Happs Colors */
/*
green: 70CAD1 -- rgp(112,202,209)
blue: 2098D4 -- rgp(32,152,212)
yellow: FCEE36 -- rgp(252,238,54)
orange: FC6F36 -- rgp(252,111,54)
grey: 587878 -- rgp(88,120,120)
*/
.blue {
	color: #2098D4;
}


/* Functional */
.block {
  display: block;
}

.inline {
	display: inline;
}

.inline-block {
  display: inline-block;
}

.display-none {
  display: none;
}

.no-margin {
  margin: 0px;
}

.no-padding-top {
  padding-top: 0px;
}

.float-right {
  float: right;
}


/* General */
html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

hr.thin {
  margin: 0px;
  padding: 0px;
}

a:hover {
  cursor: pointer;
}


/* Header */
#logo {
	height: 30px;
  margin-top: 10px;
}

.navbar-default {
	border-radius: 0px;
}


/* Footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* Gravatar */
.gravatar {
  border-radius: 15px;
  margin-right: 10px;
}


/* Jumbotron */
.jumbotron {
	margin-top: 30px;
}

.btn-jumbotron {
  margin-top: 15px;
  &:hover {
    margin-top: 16px;
  }
}

.btn-left {
  margin-right: 35px;
}

.slogan {
  margin-top: 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1108px) {
  .slogan {
    text-align: center;
    font-size: 26px;
  }
}

@media only screen and (max-width: 410px) {
  .slogan {
    font-size: 25px;
  }
}

/* Text */
.strong {
	font-weight: bold;
}

.normal-links a {
  text-decoration:none !important;
  &:hover {
    text-decoration: underline !important;
  }
}

.black {
  color: black;
}


/* Forms */
.form-font {
  label {
    font-size: 18px;
  }
}

.form-padding {
  input {
    margin-bottom: 15px;
  }
}


/* Tooltips */
div.tooltip-inner {
  max-width: 350px;
  /* If max-width does not work, try using width instead */
  /*width: 350px;*/
}


/* Progress Bars */
.progress-bar-gray {
  background-color: gray;
 }


/* Div backgrounds */
.bg-gray {
  background-color: #f4f4f4;
  min-height: 200px;
}


/* Profile */
.min-height {
  min-height: 285px;
}

.margin-left {
  margin-left: 5px;
}

.my-activity-history {
  h4 {
    border-top: 1px solid #e8e8e8;
    margin-bottom: 2px;
    padding-top: 8px;
    &:first-child {
      border-top: none;
      padding-top: 0px;
    }
  }
  p {
    font-size: small;
  }
}
